---
---

@import "utils/reset";
@import "variables";

//
// default styles for text
//
html,
body {
  height: 100%;
  background-color: $color-background-base;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  color: $color-base;
  line-height: $line-height-base;
  font-family: $font-base;
  overflow-x: hidden;
}

h1 {
  margin: 0;
  font-size: $font-size-h1;
  line-height: $line-height-heading;
  font-weight: $font-weight-bold;
  letter-spacing: -1px;
  font-family: $font-heading;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.75em;
  line-height: $line-height-heading;
  font-weight: $font-weight-bold;
  font-family: $font-heading;
}

h2 {
  font-size: $font-size-h2;
}
h3 {
  font-size: $font-size-h3;
}
h4 {
  font-size: $font-size-h4;
}
h5 {
  font-size: $font-size-h5;
}
h6 {
  font-size: $font-size-h6;
}

p {
  margin: 0 0 1em;
}

a {
  color: $color-base;
}

::-moz-selection {
  background: $selection-color;
}
::selection {
  background: $selection-color;
}

//
// utils
//
@import "utils/media_query";
@import "utils/mixins";

//
// elements
//
@import "code-syntax";
@import "top_nav";
@import "content";
@import "posts-list";
@import "markdown/index";
