.content-subtitle {
  font-size: 1em;
  color: var(--color-subtitle);
  text-align: center;
  text-transform: uppercase;
  display: block;
}

.content-post-tags {
  @extend %post-margins;
  .tags_list {
    display: inline-block;
  }
}

.markdown figure {
  @include margin-v($post-element-margin-top, 0);
  margin-left: 0;
  margin-right: 0;
}

.figure figcaption,
.table_wrapper > table + figcaption {
  @extend %post-margins;
  font-size: $font-size-image-caption;
  margin-top: $post-figure-caption-margin-top;
  text-align: center;

  & > p {
    display: inline;
  }
}
