@mixin background-size($size) {
    -webkit-background-size: $size;
    -moz-background-size: $size;
    -o-background-size: $size;
    background-size: $size;
}

@mixin non-selectable() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &::-moz-selection {background-color: transparent;}
  &::selection {background-color: transparent;}
}

@mixin grayscale($value) {
  -webkit-filter: grayscale($value);
  filter: grayscale($value);
}

@mixin translate($x,$y) {
  -webkit-transform: translate($x,$y);
  -ms-transform: translate($x,$y);
  transform: translate($x,$y);
}

@mixin translateY($y) {
  transform: translateY($y);
  -webkit-transform: translateY($y);
  -ms-transform: translateY($y);
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin clearfix {
  &:before,
  &:after {
    content:"";
    display:block;
    overflow:hidden;
  }
  &:after {
    clear:both;
  }
}

@mixin margin-top-only($mg-top) {
  margin: $mg-top 0 0 0;
}
