%figure-caption {
  @extend %post-margins;
  font-size: $font-size-image-caption;
  margin-top: $post-figure-caption-margin-top;
  text-align: center;

  & > p {
    display: inline;
  }
}

.markdown figure {
  @include margin-v($post-element-margin-top, 0);
  margin-left: 0;
  margin-right: 0;

  // images only
  & > figcaption {
    @extend %figure-caption;
  }
}

// image
.markdown img {
  display: block;
  margin: 0 auto 0;
  max-width: 100%;
  background-color: $background-content;
}
@include dark-mode {
  .markdown img {
    filter: brightness(0.8) contrast(1.2);
    background-color: darken($background-content, 20%);
  }
}

// code
.markdown .highlight {
  margin: $post-element-margin-top 0 0;

  & > pre {
    margin-top: 0;
    margin-bottom: 0;
  }

  & + figcaption {
    @extend %figure-caption;
  }
}
