.markdown {
  // links in text (not anchor for paragraph)
  a:not(.anchorjs-link) {
    @extend %link-reset;
    @include highlighter($link-highlight);

    color: inherit;
    padding: 0 3px;
    text-decoration: none;
  }
}

// anchors for each paragraph added from js
.markdown .content__anchor {
  background-color: transparent !important;
  text-decoration: none !important;
  color: #e2e2e2 !important;

  &:hover {
    color: #c3c3c3 !important;
    cursor: pointer;
  }
}

// links at the end of article
// TODO exists?
.markdown .links-list {
  a {
    display: block;
    @extend %ellipsis;
  }
}
