// links in text (not anchor for paragraph)
.markdown a:not(.anchorjs-link) {
  @include highlighter($link-highlight);

  color: inherit;
  padding: 0 3px;
  text-decoration: none;
}

// anchors for each paragraph added from js
$color-anchor-js: #cccccc;
$color-anchor-js-hover: #a7a7a7;

.markdown .anchorjs-link {
  background-color: transparent !important;
  text-decoration: none !important;
  color: $color-anchor-js !important;
  cursor: pointer;

  &:hover {
    color: $color-anchor-js-hover !important;
  }
}
