.markdown .table_wrapper {
  @extend %post-margins;
}

.table_wrapper > table {
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
  @extend %word-wrap;

  td,
  th {
    padding: 0.25rem 0.5rem;
    border: 1px solid #e5e5e5;
  }
  tbody tr:nth-child(odd) td,
  tbody tr:nth-child(odd) th {
    background-color: #{$color-accent}0a;
  }

  & + figcaption {
    @extend %figure-caption;
  }
}
