@import "../_sass/utils/reset";
@import "../_sass/variables";
@import "../_sass/fonts";

//
// default styles for text
//
html,
body {
  background-color: #dadada;
}

body.dark-theme {
  background-color: #1f1f1f;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  color: $color-base;
  line-height: $line-height-base;
  font-family: $font-base;
  font-weight: $font-weight-normal;
  overflow-x: hidden;
  font-size: $font-size-base;
}

h1 {
  margin: 0;
  font-size: $font-size-h1;
  line-height: $line-height-heading;
  font-weight: $font-weight-bold;
  font-family: $font-heading;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.75em;
  line-height: $line-height-heading;
  font-weight: $font-weight-bold;
  font-family: $font-heading;
}

h2 {
  font-size: $font-size-h2;
}
h3 {
  font-size: $font-size-h3;
}
h4 {
  font-size: $font-size-h4;
}
h5 {
  font-size: $font-size-h5;
}
h6 {
  font-size: $font-size-h6;
}

p {
  margin: 0 0 1em;
}

a {
  @extend %link-reset;
  color: $color-base;
}

::-moz-selection {
  background: $color-selection;
}
::selection {
  background: $color-selection;
}

//
// utils
//
@import "../_sass/utils/media_query";
@import "../_sass/utils/mixins";

//
// elements
//
@import "../_sass/code-syntax";
@import "../_sass/content";
@import "../_sass/posts-list";
@import "../_sass/tags";
@import "../_sass/top_nav";
@import "../_sass/markdown/index";
