<div class="side-panel">
  <div class="side-panel__inner">

    {% if page.display_post %}
        <h1 class="side-panel__title">
            {{ page.title }}
        </h1>

        <p class="side-panel__tagline">
          <span>Published</span>
          &nbsp;{{ page.date | date: "%B %Y"}}
        </p>
    {% else %}
        <h1 class="side-panel__title">
            {{ site.title }}
        </h1>
        <!-- <p class="side-panel__tagline">{{ site.tagline }}</p> -->
        <nav class="side-panel__links">
          <a class="side-panel__links__github" href="{{ site.github_account }}"></a>
        </nav>
    {% endif %}



    <!-- <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p> -->
  </div>

  {% if page.show_home_button %}
  <a href="{{ site.baseurl }}/" class="side-panel__home_button"></a>
  {% endif %}

</div>
