.hero-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 407px;
  background: linear-gradient(to right, #add5f5, #47a6d8);
}

.hero-image {
}

.content {
  white-space: normal;
  position: relative;
  margin: (200px - 60px) auto 200px;
  max-width: 950px;
  padding-left: 80px;
}

.content__inner {
  background-color: #fafafa;
  border-radius: 24px;
  box-shadow: 0 4px 8px 4px #385f663e;
  padding: 35px 0;
}

.content-title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 14px;
}

.content-subtitle {
  font-size: 18px;
  color: #656565;
  text-align: center;
  text-transform: uppercase;
  display: block;
}
