.hero-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $hero-height;
  background: linear-gradient(to right, $color-hero-1, $color-hero-2);
}

.hero-image {
}

.content {
  white-space: normal;
  position: relative;
  margin: 0 auto 0;
  padding-top: $content-margin-top;
  padding-bottom: $content-margin-bottom;

  @include mq-above($break-content-desktop) {
    max-width: $break-content-desktop;
    padding-right: $content-desktop-offset-from-center;
    padding-bottom: $content-desktop-margin-bottom;
  }
}

.content__inner {
  background-color: var(--background-content);
  border-radius: 24px;
  padding: $content-padding-vert 0;

  @include mq-above($break-content-desktop) {
    box-shadow: 0 4px 8px 4px var(--shadow-content);
  }
}

.content-title {
  font-size: 2.25em;
  text-align: center;
  margin-bottom: 0.5em;
  font-weight: $font-weight-normal;
}

.content-subtitle {
  font-size: 1em;
  color: var(--color-subtitle);
  text-align: center;
  text-transform: uppercase;
  display: block;
}

.content-post-tags {
  @extend %post-margins;
  .tags_list {
    display: inline-block;
  }
}

.medium-zoom--opened {
  .medium-zoom-overlay {
    z-index: $z-index-image-popup;
  }
  .medium-zoom-image--opened {
    z-index: $z-index-image-popup + 10;
    background-color: var(--background-content);
  }
}

@include dark-mode {
  .medium-zoom-image--opened {
    filter: $dark-mode-image-filter;
    background-color: var(--background-image-dark);
  }
}

.footer {
  @extend %post-margins;
  text-align: center;
}

.footer-copyright {
  font-size: 0.75em;
}
