.posts_list-meta {
  @extend %post-margins;
}

.posts_list {
  @include margin-v($post-element-margin-top * 2, 0);
}

.posts_list-inner {
  @extend %post-margins;
  padding: 0;
}

.post_item {
  margin-bottom: $post_items-spacing;
  display: block;

  &:last-child {
    margin-bottom: 0;
  }
}

.post_item-title {
  margin-bottom: 1.3rem;
  text-align: center;
  font-weight: normal;

  & a:hover {
    text-decoration: underline;
  }
}

.post_item-meta_row {
  display: flex;
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.post_item-dot {
  margin: 0 8px;
  display: inline-block;
  font-weight: $font-weight-bold;
}

.post_item-date {
  color: var(--color-subtitle);
  text-transform: uppercase;
  font-size: inherit;
  line-height: inherit;
  font-weight: normal;
  margin: 0 auto;
}

.post_item-excerpt {
  margin-bottom: 0.5rem;
}

.post_item-read_more {
  cursor: pointer;
  margin-bottom: 0;
}

.post_item-read_more-link {
  font-size: 1rem;
  text-transform: uppercase;
  color: $color-accent;

  &:hover {
    text-decoration: underline;
  }
}
