.posts_list-meta {
  @extend %post-margins;
}

.posts_list {
  @include margin-v($post-element-margin-top, 0);
}

.posts_list-inner {
  @extend %post-margins;
  padding: 0;
}

.post_item {
  margin-bottom: $post_items-spacing;
  display: block;

  &:last-child {
    margin-bottom: 0;
  }
}

.post_item-title {
  margin-bottom: 0.5rem;
  text-align: center;
  font-weight: $font-weight-normal;

  & a:hover {
    text-decoration: underline;
  }
}

.post_item-meta_row {
  display: flex;
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.post_item-dot {
  margin: 0 8px;
  display: inline-block;
  font-weight: $font-weight-bold;
}

.post_item-date {
  color: var(--color-subtitle);
  text-transform: uppercase;
  font-size: inherit;
  line-height: inherit;
  font-weight: $font-weight-normal;
  margin: 0 auto;
}

.post_item-excerpt {
  margin-bottom: 0.5rem;
  @extend %char-spacing;
}

.post_item-read_more {
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: $font-weight-bold;
}

.post_item-read_more-link {
  color: darken($color-accent, 8%);
  font-weight: $font-weight-bold;

  &:hover {
    text-decoration: underline;
  }
}
@include dark-mode {
  .post_item-read_more-link {
    color: lighten($color-accent, 8%);
  }
}
