$post-item-elements-margin: 1.0rem;
$post-items-spacing: 3.5rem;

.post-item{
  margin-bottom: $post-items-spacing;

  &:last-child{
    margin-bottom: 0;
  }
}

.post-item__title{
  margin-bottom: $post-item-elements-margin;
  text-align: center;
}

.post-item__date{
  margin-bottom: $post-item-elements-margin;
  text-align: center;
}

.post-item__excerpt{
    margin-bottom: $post-item-elements-margin;
}

.post-item__read-more{
    text-align: center;
    text-transform: uppercase;
}
