.markdown {
  ul,
  ol,
  dl {
    @extend %post-margins;
    @include margin-v($post-list-margin-top, 0);
  }

  li {
    margin-left: $post-list-left-inset;
    margin-top: $post-list-item-margin-top;

    &:first-child {
      margin-top: 0px; // already from list element
    }
  }

  ul > li {
    list-style-type: disc;
  }

  ol > li {
    list-style-type: decimal;
  }
}
