@import '../../styles/mixins';

// TODO do not apply these styles to .anchorjs-link and .lazyimage-lightbox_link

// links in text (not anchor for paragraph)
:global(.markdown) a {
  @include highlighter(var(--link-highlight));

  color: inherit;
  padding: 0 3px;
  text-decoration: none;
}

/*
// TODO restore permalinks
// anchors for each paragraph added from js
$color-anchor-js: #cccccc;
$color-anchor-js-dark: #a2a2a2;

:global(.markdown) .anchorjs-link {
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;

  color: $color-anchor-js;
  &:hover {
    color: $color-anchor-js-dark;
  }
}

@include dark-mode {
  :global(.markdown) .anchorjs-link {
    color: $color-anchor-js-dark;
    &:hover {
      color: $color-anchor-js;
    }
  }
}
*/
