@import '../../styles/mixins';

:global(.markdown) {
  ul,
  ol,
  dl {
    @extend %post-margins-h;
    @include margin-v(var(--post-list-margin-top), 0);
  }

  li {
    margin-left: var(--post-list-left-inset);
    margin-top: var(--post-list-item-margin-top);

    &:first-child {
      margin-top: 0px; // already from list element
    }
  }

  ul > li {
    list-style-type: disc;
  }

  ol > li {
    list-style-type: decimal;
  }
}
