@import '../../styles/mixins';

$blockquote-left-border: #ddd;

:global(.markdown) {
  // paragraph text
  & > p {
    @extend %word-wrap;
    @extend %post-margins;
    @include margin-v(var(--post-p-margin-top), 0);
    @extend %char-spacing;
  }

  // h2: major header ##
  // h3: minor header ###
  h2,
  h3 {
    @extend %post-margins;
    @include margin-v(var(--post-header-margin-top), 0);
  }

  h4 {
    @extend %post-margins;
    @include margin-v(var(--post-p-margin-top), 0);
  }

  // bold: **text**
  strong {
    color: var(--color-strong);
    font-weight: var(--font-weight-bold);
  }

  // italic: *text*
  em {
    font-style: italic;
  }

  // blockquote: '>'
  blockquote {
    @extend %post-margins;
    @include margin-v(var(--post-element-margin-top), 0);
    font-style: italic;
    color: var(--color-subtitle);
    border-left: 5px solid $blockquote-left-border;
    @extend %char-spacing;

    & > * {
      margin-left: 0.8em;
    }
  }

  // inline code
  p > code,
  p > blockquote > code {
    color: #19282b;
    padding: 1px 4px;
    background-color: #f5f2f0;
    border: 2px solid var(--color-accent);
    border-radius: 3px;
  }

  // drop cap
  @include mq-above($break-content-desktop) {
    & > p:first-of-type::first-letter {
      float: left;
      font-size: calc(var(--line-height-base) * 3);
      line-height: 0.9;
      padding: 4px 10px 0 3px;
    }
  }
}
