@import '../../styles/mixins';

.image {
  display: block;
  margin: 0 auto 0;
  max-width: 100%;
  height: auto; // preserve aspect ratio when width&height provided
  background-color: var(--background-content);
}
@include dark-mode {
  .image {
    filter: var(--dark-mode-image-filter);
    background-color: var(--background-image-dark);
  }
}

.placeholder {
  background-size: cover;
  position: relative;
  opacity: 1;
  transition: opacity 0.5s ease 0s;
}

.img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: opacity 0.5s ease 0s;
}

/*
TODO medium-zoom
.medium-zoom--opened {
  .medium-zoom-overlay {
    z-index: $z-index-image-popup;
  }
  .medium-zoom-image--opened {
    z-index: $z-index-image-popup + 10;
    background-color: var(--background-content);
  }
}

@include dark-mode {
  .medium-zoom-image--opened {
    filter: $dark-mode-image-filter;
    background-color: var(--background-image-dark);
  }
}
*/
