@import '../../styles/mixins';

.tocWrapper {
  --toc-margin-bottom: var(--post-header-margin-top);
  --toc-content-header-spacing: 0.2em;
  --toc-left-border-spacing: var(--post-padding-h);
  --toc-sublevel-intend: var(--post-padding-h-desktop);
  --toc-font-size-level0: calc(var(--font-size-base) * 1.2);
  --toc-font-size-level1: var(--font-size-image-caption);

  @extend %post-margins-h;
  margin-bottom: var(--toc-margin-bottom);
}

.tocContentsHeader {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: var(--toc-content-header-spacing);
  cursor: pointer;
  @include underscored-reset();
}

.tocContentsHeader:hover {
  @include underscored(var(--color-accent));
}

.tocExpandBtn {
  font-family: var(--font-code);
  color: var(--color-accent);
}

.tocContentWrapper {
  margin: 0;
  border-left: 5px solid var(--color-accent);
}

.tocEntryItem {
  list-style-type: none;
  margin-top: 0 !important;
  font-size: var(--toc-font-size-level1);
}

.tocEntryItem[data-toc-level='1'] {
  font-size: var(--toc-font-size-level0);
}

.tocEntryLink:not(:hover) {
  border-bottom-color: transparent;
  box-shadow: none;
}

.tocEntryChildrenList {
  margin-top: 0;
  padding: 0;
}

.tocEntryChildrenList[data-toc-level='0'] {
  margin-left: var(--toc-left-border-spacing);
}

.tocEntryChildrenList[data-toc-level='1'] {
  margin-left: var(--toc-sublevel-intend);
}
