@import '../styles/mixins';

.postsList {
  @include margin-v(var(--post-element-margin-top), 0);
}

.postsListInner {
  @extend %post-margins-h;
  padding: 0;
  list-style: none;
}

.postItem {
  margin-bottom: var(--post_items-spacing);
  display: block;

  &:last-child {
    margin-bottom: 0;
  }
}
