$post-image-margin-top: $post-figure-margin-top;
$post-code-margin-top:  $post-figure-margin-top;
$post-image-caption-margin-top: $post-figure-caption-margin-top;
$post-code-caption-margin-top:  $post-figure-caption-margin-top;

%figure-caption {
  font-size: $font-size-image-caption;
}

.post {

  // image
  img {
    display: block;
    margin: $post-image-margin-top auto 0;
    max-width: 100%;
    border-radius: 5px;

    // br is somehow added, hide it
    & + br {
      display: none;
    }

    // image caption (uses fact that images are enclosed in separate <p>)
    & ~ em {
      @extend %figure-caption;
      margin-top: $post-image-caption-margin-top;
    }
  }

  // code
  div.highlight { // block
    @include margin-top-only($post-code-margin-top);

    & + p {
      @extend %figure-caption;
      margin-top: $post-code-caption-margin-top;
    }
  }

}
