.post {

  // paragraph text
  p {
    @extend %word-wrap;
    @include margin-top-only($post-paragraph-margin-top);
    text-align: justify;
  }

  // h2: major header ##
  // h3: minor header ###
  h2, h3 {
    @include margin-top-only($post-heading-margin-top);
  }

  // bold: **text**
  strong {
    color: #303030;
    font-weight: 600;
  }

  // italic: *text*
  em {
    font-style: italic;
  }

  // blockquote: '>'
  blockquote {
    margin: 40px 1em;
    padding-left: 12px;
    font-style: italic;
    color: $color-blockquote;
    border-left: 5px solid $blockquote-left-border;
  }

}
