<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="#fafafa" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="referrer" content="no-referrer-when-downgrade">

  <title>
    {% if page.title %}{{ page.title }}
    {% else %}{{ site.title }}
    {% endif %}
  </title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="Marcin Matuszczyk">
  <link rel="preconnect" href="https://cdnjs.cloudflare.com">

  <!-- favicon -->
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  {% include seo.html %}

  <!-- CSS -->
  <!-- beautify ignore:start -->
  {% capture styles %}
  {% include main.scss %}
  {% endcapture %}
  <style>
    {{ styles | scssify }}
  </style>
  <!-- beautify ignore:end -->
</head>

<body>
  <!-- DARK MODE -->
  <script>
    window.setAppTheme = setAppTheme;
    const THEME_LIGHT_BG = "#fafafa";
    const THEME_DARK_BG = "#353535";

    let isLight = !window.matchMedia("(prefers-color-scheme: dark)").matches;
    const storageThemeColor = localStorage.getItem("app-theme");
    if (storageThemeColor === "dark-theme") {
      isLight = false;
    }
    setAppTheme(isLight);

    function setAppTheme(nextIsLight) {
      console.log(`setAppTheme light=${nextIsLight}`);
      const el = document.documentElement;
      if (nextIsLight) {
        el.classList.remove("dark-theme");
        el.classList.add("light-theme");
        setMetaTheme(THEME_LIGHT_BG);
      } else {
        el.classList.remove("light-theme");
        el.classList.add("dark-theme");
        setMetaTheme(THEME_DARK_BG);
      }
    }

    function setMetaTheme(color) {
      let el = document.querySelector('meta[name="theme-color"]');
      if (el == null) {
        el = document.createElement("meta");
        el.setAttribute("name", "theme-color");
        document.head.appendChild(el);
      }
      el.setAttribute("content", color);
    }
  </script>

  <div class="hero-wrapper">
    <div class="hero-image"></div>
  </div>

  {% include top_nav.html %}

  <main class="content">
    <div class="content__inner">
      {{ content }}
    </div>
  </main>

  <footer class="footer">
    <div>Thanks for reading!</div>
    <div class="footer-copyright">
      Content and illustrations © 2021 Marcin Matuszczyk. All Rights Reserved.
    </div>
  </footer>

  <!-- Scripts -->
  <script src="{{ site.baseurl }}/assets/scripts/anchor-js/anchor.min.js"></script>
  <script src="{{ site.baseurl }}/assets/scripts/medium-zoom/medium-zoom.min.js"></script>
  <script src="{{ site.baseurl }}/assets/scripts/main.js"></script>
  <!-- Use CDN as mathjax has many runtime dependencies. Don't even bother.. -->
  <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>

  {% include analytics.html %}
</body>

</html>