<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="#fafafa" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />

  {% if page.title %}
  <title>{{ page.author }} - {{ page.title }}</title>
  {% else %}
  <title>{{ site.title }}</title>
  {% endif %}

  {% if page.excerpt %}
  <meta name="description" content="{{ page.excerpt }}">
  {% else %}
  <meta name="description" content="{{ site.description }}">
  {% endif %}

  <!-- favicon -->
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <!-- Open Graph -->
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="article">
  <meta property="og:title"
    content="{% if page.title %}{{ page.author }} - {{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description"
    content="{% if page.excerpt %}{{ page.excerpt }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:site_name" content="{{ site.title }}">

  <!-- CSS -->
  <!-- beautify ignore:start -->
  {% capture styles %}
  {% include main.scss %}
  {% endcapture %}
  <style>
    {{ styles | scssify }}
  </style>
  <!-- beautify ignore:end -->
</head>

<body>
  <!-- DARK MODE -->
  <script>
    window.setMetaTheme = setMetaTheme;
    const THEME_LIGHT_BG = "#fafafa";
    const THEME_DARK_BG = "#353535";

    let isLight = !window.matchMedia("(prefers-color-scheme: dark)").matches;
    const storageThemeColor = localStorage.getItem("app-theme");
    if (storageThemeColor === "dark-theme") {
      isLight = false;
    }

    if (isLight) {
      document.body.classList.add("light-theme");
      setMetaTheme(true);
    } else {
      document.body.classList.add("dark-theme");
      setMetaTheme(false);
    }

    function setMetaTheme(isLight) {
      let el = document.querySelector('meta[name="theme-color"]');
      if (el == null) {
        el = document.createElement("meta");
        el.setAttribute("name", "theme-color");
        document.head.appendChild(el);
      }
      el.setAttribute("content", isLight ? THEME_LIGHT_BG : THEME_DARK_BG);
    }
  </script>

  <div class="hero-wrapper">
    <div class="hero-image"></div>
  </div>

  {% include top_nav.html %}

  <main class="content">
    <div class="content__inner">
      {{ content }}
    </div>
  </main>

  <!-- Scripts -->
  <script src="{{ site.baseurl }}/assets/scripts/anchor-js/anchor.min.js"></script>
  <script src="{{ site.baseurl }}/assets/scripts/medium-zoom/medium-zoom.min.js"></script>
  <script src="{{ site.baseurl }}/assets/scripts/main.js"></script>
  <!-- Use CDN as mathjax has many runtime dependencies. Don't even bother.. -->
  <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>

  {% if jekyll.environment == "production" %}
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-66646958-1', 'auto');
    ga('send', 'pageview');
  </script>
  {% endif %}
</body>

</html>