---
layout: default
---

<header class="post-meta posts_list-meta">
  <h1 class="content-title">All articles</h1>
</header>

<div class="posts_list">
  <div class="posts_list-inner">

    {% for post in site.posts %}
    <article class="post_item">
      <header>
        <h2 class="post_item-title">
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
          </a>
        </h2>

        <div class="post_item-meta_row">
          <time class="post_item-date"
            datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string}}</time>

          {% comment %}
          <span class="post_item-dot">&middot;</span> In:

          {% assign tags2 = post.tags %}
          {% include tags_list.html %}
          {% endcomment %}
        </div>
      </header>
      <section>
        <p class="post_item-excerpt">
          {{ post.excerpt }}
        </p>
      </section>
      <footer>
        <span class="post_item-read_more">
          Continue reading
          <a href="{{ site.baseurl }}{{ post.url }}" tabindex="-1" class="post_item-read_more-link">
            {{ post.title }}
          </a>
          <span aria-hidden="true">&rarr;</span>
        </span>
      </footer>
    </article>
    {% endfor %}

  </div>
</div>